<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer content</h5>
        <p class="gray-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, blanditiis quae accusantium quis enim laudantium aspernatur voluptate iure est? Saepe, minus? Quia, vero officia placeat animi sequi quis asperiores id.</p>
      </div>
      <div class="col l4 offset-12 s12">
        <h5 class="wight-text">Links</h5>
        <ul>
          <li><a href="#!" class="gray-text text-lighten-3">Links1</a></li>
          <li><a href="#!" class="gray-text text-lighten-3">Links2</a></li>
          <li><a href="#!" class="gray-text text-lighten-3">Links3</a></li>
          <li><a href="#!" class="gray-text text-lighten-3">Links4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
        <div class="container">
          @2020 PAVEL BLOODOV
        </div>
      </div>
</footer>